   <!-- Begin Page Content -->
   <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Audit Records</h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->
    
     <!-- DataTales Example -->
     <div class="card shadow mb-4">
        
        <div class="card-body">
          <div class="table-responsive">

            <table id="auditPositions" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Position Id</th>
                        <th>Version</th>
                        <th>Associate Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Team</th>
                        <th>India POC</th>
                        <th>India Leader</th>
                        <th>US Poc</th>
                        <th>US Leader</th>
                        <th>Billing Code</th>
                        <th>Work Type</th>
                        <th>Technology</th>
                        <th>Hiring Status</th>
                        <th>FT Head Count</th>
                        <th>Depart Type</th>
                        <th>Remarks</th>
                        <th>Modified By</th>
                        <th>Modified Time</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Position Id</th>
                        <th>Version</th>
                        <th>Associate Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Team</th>
                        <th>India POC</th>
                        <th>India Leader</th>
                        <th>US Poc</th>
                        <th>US Leader</th>
                        <th>Billing Code</th>
                        <th>Work Type</th>
                        <th>Technology</th>
                        <th>Hiring Status</th>
                        <th>FT Head Count</th>
                        <th>Depart Type</th>
                        <th>Remarks</th>
                        <th>Modified By</th>
                        <th>Modified Time</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
  </div>

</div>