<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h3 mb-2 text-gray-800">Reset Password</h1>
            <div class="card shadow mb-4">
                
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="password">New Password</label>
                                <input type="password" min="0" formControlName="password" class="form-control"
                                    id="password" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control"
                                    id="confirmPassword" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>